@property --color-fill-start {
  syntax: '<color>'; // значение - color
  inherits: false; // не наследуется
  initial-value: #0CBAF1; // начальное значение
}

@property --color-fill-end {
  syntax: '<color>';
  inherits: false;
  initial-value: #E95CE9;
}

.button {
  --color-fill-start: var(--color-black);
  --color-fill-end: var(--color-black);

  @include flex-center(true);
  padding: fluid-to-laptop(12, 8) fluid-to-laptop(24, 20);
  border: 1px solid transparent;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background:
  linear-gradient(90deg, var(--color-fill-start), var(--color-fill-end)) padding-box, // внутри кнопки
  linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) border-box; // рамка кнопки
  transition: --color-fill-start 0.2s ease, --color-fill-end 0.2s ease;

  @include hover {
    &:hover {
      --color-fill-start: #0CBAF1;
      --color-fill-end: #E95CE9;
    }
  }

  &:has(.icon):not(.button--soc1al):not(.button--subscribe) {
    @include square(28px);
    padding: 0;
    background: none;
    transition-duration: var(--transition-duration);
  }

  &--soc1al {
    @include square(46px);
    border-radius: 50%;
    background:
    linear-gradient(90deg, var(--color-fill-start), var(--color-fill-end)) padding-box, // внутри кнопки
    linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) border-box;
    padding: 16px;
  }

  &--subscribe {
    @include square(50px);
    background-color: var(--color-balck-alt);
  }

  &--dropdown {
      background: none;
      background-color: transparent;
      padding: 0;
  }

  &--gradient {
    padding: fluid-to-laptop(16, 8) fluid-to-laptop(34, 20);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background:
    linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) padding-box;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;

    &:hover {
      box-shadow:
      -20px 0 30px rgba(12, 186, 241, 0.5),
      20px 0 30px rgba(233, 92, 233, 0.5);
    }
  }
}