.insights {
  --section-padding-y: 120px;
  padding-top: var(--section-padding-y);
  position: relative;
  z-index: 100;
}

.insights .section__body {
  display: flex;
  align-items: flex-start;

  @include laptop {
    flex-direction: column;
    justify-content: center;
  }

}

.insights .section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}