.accordion {

  &__summary {
    list-style: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray);
    }

    &::after {
      content: '';
      position: absolute;
      left: 95%;
      top: 0;
      width: 20px;
      height: 20px;
      background: url("src/assets/icons/arrow-down.svg") center/contain no-repeat;
      transition-duration: var(--transition-duration);
    }
  }

  &__content {
    padding-top: 12px;
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: var(--transition-duration-longer);
  }

  &__content-body {
    overflow: hidden;
  }

    .accordion__details[open] + .accordion__content {
      grid-template-rows: 1fr;
    }

  .accordion__details[open] {
    .accordion__summary::after {
      rotate: 180deg;
    }
  }
}




